{% extends 'tracker/main.html' %}
{% block content %}
{% load auth_extras %}
<style>
</style>

<nav class="navbar navbar-expand-xl" style="background-color: rgb(214, 214, 214);">
  <div class="container-fluid">
    <div class="collapse navbar-collapse me-auto" id="navbarTogglerDemo02">
      <div style="margin-right: auto; margin-top: 10px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-custom">
          <li class="nav-item" style="margin-right: 5px">
              <h4>Due Vaccine Without Appointment</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding:1%; ">
    <div class="row">
        <div class="col-lg-2" style="background-color: rgb(255, 255, 255);display: flex; justify-content: center; align-items: center; padding-top: 8%; padding-bottom: 8%;">
            <div class="btn-group-vertical" style="display: block;">
              <a class="btn btn-outline-primary" href="{% url 'report' %}">Report</a>
              <div class="btn-group dropend">
                <a class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Reminder
                </a>
                <ul class="dropdown-menu">
                    <a class="btn btn-outline-primary" href="{% url 'dueVax' %}">Due Vaccine w/o Appts</a>
                    <a class="btn btn-outline-primary" href="{% url 'unconfirmedAppts' %}">Unconfirmed Appts</a>
                </ul>
              </div>
              {% if request.user.physician.can_reg == "Yes" or request.user|has_group:"Admin" %}
              <div class="btn-group dropend">
                <a class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Staff
                </a>
                <ul class="dropdown-menu">
                    <a class="btn btn-outline-primary" href="{% url 'staffUpdate' %}">Update</a>
                    <a class="btn btn-outline-primary" href="{% url 'staffCreate' %}">Create</a>
                </ul>
              </div>
              {% endif %}
            </div>
        </div>

        <div class="col-lg" style="background-color: white; padding-top: 3%;">
          <h3>Send Email Reminder For:</h3>
          <table id="rows" class="table table-primary table-bordered border-dark" style="margin-top: 3%;">
            <thead>
                <th>Vaccine</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Nickname</th>
                <th>Contact</th>
            </thead>
            <tbody>
                <td>{{vaccine.name}}</td>
                <td>{{vaccine.patient.first_name}}</td>
                <td>{{vaccine.patient.last_name}}</td>
                <td>{{vaccine.patient.nick_name}}</td>
                <td>{{vaccine.patient.cell_no}}</td>
            </tbody>
          </table>

          <form method="post">
            {% csrf_token %}
            <label>Email of Patient:</label>
            <input id="email" style="width:30%;" type="text" class="form-control" value="{{vaccine.patient.email}}" readonly>
            <button style="margin-top:1%;" type="submit" class="btn btn-success">Send</button>
            <a href="{% url 'dueVax' %}" style="margin-top:1%;" class="btn btn-danger">Cancel</a>
          </form>
          
        </div>

    </div>
</div>

{% endblock content %}